@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

body {
  background-color: #1f2933;
}

#app {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#network-picker {
  position: absolute;
  top: 24px;
  left: 24px;

  > img {
    width: 48px;
    height: 48px;

    border-radius: 100%;
  }

  > img:hover {
    cursor: pointer;
  }

  #network-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      margin-top: 16px;
    }

    > img:hover {
      cursor: pointer;
    }
  }
}

.view {
  box-shadow: 0px 5px 10px rgba(45, 58, 140, 0.05),
    0px 15px 25px rgba(45, 58, 140, 0.15);

  width: 824px;
  height: 640px;

  border-radius: 0px 10px 10px 0px;
  background-color: #e4e7eb;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 64px;
  height: 640px;
  background-color: #323f4b;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 5px 10px rgba(45, 58, 140, 0.05),
    0px 15px 25px rgba(45, 58, 140, 0.15);

  img {
    cursor: pointer;
    opacity: 80%;
  }

  .selected {
    opacity: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

#explorer {
  width: 824px;
  height: 640px;
  border-radius: 0px 10px 10px 0px;
  background-color: #e4e7eb;

  .block-number {
    font-family: sans-serif;
    font-size: 48px;
    color: #1f2933;
  }

  .label {
    font-family: sans-serif;
    font-size: 18px;
    color: #52606d;
  }

  #block-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #block-numbers-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    #block-numbers {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin: 34px;

      div {
        margin-bottom: 16px;
      }
    }

    #block-time {
      width: 100px;
      height: 100px;
      margin: 34px;

      #time {
        z-index: 2;
        position: relative;
        bottom: 65px;
        left: 38px;
        font-size: 24px;
        font-family: sans-serif;
      }
    }
  }

  #recent-blocks {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    width: 340px;
    height: 384px;
    border-radius: 5px;
    background-color: #52606d;

    .block {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-left: 4px;
      margin-top: 8px;
      padding-bottom: 4px;
      margin-bottom: 8px;
      border-bottom: solid 1px #98aeeb;

      .block-number {
        font-family: sans-serif;
        font-size: 24px;
        color: #e0e8f9;
      }

      .address {
        font-family: sans-serif;
        font-size: 12px;
        color: #cbd2d9;
      }
    }
  }

  #recent-events {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 384px;
    width: 310px;
  }
  .path {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 6s linear forwards;
  }

  .event {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    animation: slidein 0.25s linear 0s 1 normal;

    width: 300px;
    height: 64px;
    background-color: #52606d;
    border-left: 8px solid #98aeeb;
    border-radius: 5px;

    .event-details {
      .event-name {
        font-size: 14px;
        font-family: sans-serif;
        font-weight: bold;
        color: #e0e8f9;
      }

      .amount {
        font-size: 14px;
        font-family: sans-serif;
        font-weight: normal;
        color: #e0e8f9;
      }

      .event-data {
        font-size: 8px;
        font-family: sans-serif;
        font-weight: normal;
        color: #e4e7eb;
      }
    }
  }
}

#account-picker {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 32px;
  right: 32px;

  #current-account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #52606d;
    border-radius: 5px;
    width: max-content;

    #balance {
      margin-left: 8px;
      margin-right: 8px;
      color: #bed0f7;
      font-family: sans-serif;
    }

    #account-info {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 32px;
      min-width: 96px;
      border-radius: 5px;

      background-color: #cbd2d9;
      font-family: sans-serif;
      color: #1f2933;
    }
  }

  #current-account:hover {
    cursor: pointer;
  }

  #account-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
  }
}

.account-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  min-width: 128px;

  background-color: #cbd2d9;
  border-radius: 5px;

  font-family: sans-serif;
  font-size: 20px;
  color: #1f2933;

  margin: 8px;
}

.account-card:hover {
  cursor: pointer;
}