#network-picker {
  position: absolute;
  top: 24px;
  left: 24px;

  > img {
    width: 48px;
    height: 48px;

    border-radius: 100%;
  }

  > img:hover {
    cursor: pointer;
  }

  #network-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      margin-top: 16px;
    }

    > img:hover {
      cursor: pointer;
    }
  }
}
